/* Global / Layout /////////////////////////////////////////////////////////////////////////////*/
#app{
    transform-origin: top left;
    -webkit-transform: scale(0.65);
    
    position: relative;
    left: -100px;
}

#controls{
    position: relative;
    left:700px;
}
/* Barlines //////////////////////////////////////////////////////////////////////////////// */
.barline_svg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1600px;
    height: 5000px;
    pointer-events: none;
}

.barline{
    fill: black;
    opacity: 0.1;
}
/* Table /////////////////////////////////////////////////////////////////////////////////// */
.prog_head{
    text-align: center;
    vertical-align: text-top;
    width:100px;
    font-weight: bold;
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.prog_repos{
    position: relative;
    top: 5px;}

.time_cell{
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    text-align: left;
    width: 100px;
}

.time_cell_active{
    /* animation-name: time_cell_active_ani;
    animation-duration: 2s; */
    background-color: #80b8f5 !important
}
  
/* @keyframes time_cell_active_ani {
    0% {background-color: rgb(233, 236, 239);}
    2% {background-color: #80b8f5;}
    50% {background-color: #80b8f5;}
    70% {background-color: rgb(233, 236, 239);}
} */
.table_cell{
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    text-align: left;
    width: 100px;
}

.table_cell_active{
    background-color: #80b8f5 !important;
    animation-name: table_cell_active_ani;
    animation-duration: 1s;
}

.tail{
    padding-left: 0px !important;
    padding-right: 0px !important
}

.tail_but{
    padding-left: 3px !important;
    padding-right: 3px !important
}

/* Piano Roll Overlay //////////////////////////////////////////////////////////////////// */
.svg{
    position: relative;
    top: -480px;
    width: 1600px;
    height: 240px;
    pointer-events: none;
}

.overlay_svg{
    pointer-events: none;
}

#swapped_svg{
    position: relative;
    top: -720px;
}

.up{
    position: relative;
    top: -480px;
}

.up_higher{
    position: relative;
    top: -720px;
}

.padded_up{
    position: relative;
    top: -460px;
}

.padded_up_time{
    position: relative;
    top: -480px;
}

.padded_up_higher{
    position: relative;
    top: -700px;
}

.right{
    position: relative;
    left: 100px;
}
/* Graph /////////////////////////////////////////////////////////////////////////////// */
.net{
    height:100%;
    margin:0
}

.node{
    stroke:rgba(18,120,98,.7);
    stroke-width:3px;
    -webkit-transition:fill .5s ease;
    transition:fill .5s ease;
    fill:#dcfaf3}
    
.node.selected{
    stroke: #347dff;
    stroke-width:6px;
    fill: #347dff;
}
.dial{
    stroke-width:1%
}
.node.dial:hover{
    stroke:rgba(18,120,98,.7);
    stroke-width:1%;
}

.node.selected:hover{
    stroke:#be385d;
}

.node.highlighted{
    stroke: #347dff;
}
.node.temp{
    stroke: #be385e9d;
}

.node-label{
    font-size: large;
}
.node-label.temp{
    fill: #be385e9d 
}

.link{
    stroke:rgba(18,120,98,.7);
    stroke-width: 3px
}


.link,.node{
    stroke-linecap:round
}

.link:hover,.node:hover{
    stroke:#be385d;
    stroke-width:5px
}

.link.dashed{
    stroke-width:5px
}

.link.selected{
    stroke:rgba(202,164,85,.6)
}

.curve{
    fill:none
}

.link-label,.node-label{
    fill:#127862
}

.link-label{
    -webkit-transform:translateY(-.5em);
    transform:translateY(-.5em);
    text-anchor:middle
}

#m-end path, #m-start{
    fill: rgba(18, 120, 98, 0.8);
  }
#m-end-highlight path, #m-start{
    fill: #347dff
}

.path_active{
    fill: rgba(0, 201, 157, 0.7)
}

/* Graph: root selector ///////////////////////////////////////////////////*/
#root_select{
    position: relative;
    top: -550px;
}

.root_select_cell{
    text-align: center;
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

}

.root_cell_selected{
    background-color: #b8daff;
}

/* Graph: chroma/bass selector //////////////////////////////////////////// */
#chroma_select{
    position: relative;
    top: -550px;
    left: -100px;
}

.chroma_select_cell{
    text-align: center;
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

}

.chroma_cell_selected{
    background-color: #b8daff;
}

.bass_cell_selected{
    background-color: #fd80a3;
}

/* Multilevel Dropdown /////////////////////////////////////////////////////////////////////////*/

/* hover dropdown menus */
@media only screen and (max-width: 991px) {
    .navbar-hover .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }
}
@media only screen and (min-width: 992px) {
    .navbar-hover .collapse ul li{position:relative;}
    .navbar-hover .collapse ul li:hover> ul{display:block}
    .navbar-hover .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    .navbar-hover .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
}

#resample{
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.dropdown{
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

/* Coloring the melody notes //////////////////////*/
#vis_mel{
    position: relative;
    top: -240px;
    opacity: 0.8;
}

/* Note tooltip /////////////////////////////// */
#note_tooltip{
    position: absolute;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid;
    border-radius: 7px;

    font-size: small;
    
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    pointer-events: none;
}

.note_highlight{
    fill: #ff0000;
    stroke-width: 2;
    stroke: #ff0000;
}